<html>
    <head>
        <title>$title$</title>
        <link rel="stylesheet" href="/assets/css/reset.css" />
        <link rel="stylesheet" href="/assets/css/presentations.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/dracula.min.css" />
    </head>
    <body>
        $body$

        <script src="https://unpkg.com/textfit@2.3.1/textFit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
        <script src="/assets/js/presentations.js"></script>
    </body>
</html>
